BD=mongodb+srv://USER:PASSWORD@HOST/DATABASE?retryWrites=true&w=majority
PORT=3000
BACKGROUND_JOBS_ENABLED=true
BINANCE_API_KEY=your_binance_api_key
BINANCE_SECRET_KEY=your_binance_secret_key
EXCHANGERATE_API_KEY=your_exchange_rate_api_key
